* {
    margin: 0;
    padding: 0;
    font-family: "segoe UI";
    box-sizing: border-box;
}

.top-nav-bar {
    background-color: #07294D;
    /* min-height: 35px; */
    padding: 5px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85em;
    flex-wrap: wrap;
}

.top-nav-bar-element {
    display: inline;
}

.contact-mail {
    color: white;
    margin-left: -3px;
}

.fa-envelope {
    color: #428BCA;
    font-size: .8em;
}

/* Resizing Buttons */

.font-resizing {
    margin-right: 18px;
    height: 25px;
}

.theams {
    padding: 3px 10px;
    margin-right: 5px;
}

.dark-theam-icon {
    background-color: black;
    color: white;
}

.light-theam-icon {
    background-color: white;
}

.resize-button {
    padding: 0 5px;
    height: 100%;
    border-radius: 0px;
}

/* Hovering */
.cursor-pointor:hover {
    cursor: pointer;
}

.theams:hover {
    text-decoration: underline;
}

/* second level nav bar (Images) */
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    padding: 6px 0;
    position: relative;
}

.nav-bar-element {
    display: flex;
    justify-content: center;
    width: 25%;
}

/* Language Translation */
.translate-language {
    height: 32px;
    width: 32px;
    background-color: #EF731B;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: row;
    position: absolute;
    right: 2%;
    top: 28%;
    font-weight: 500;
}

.language-letters {
    margin: -2px 0;
}

.language-english {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 5px;
}

.language-hindi {
    position: absolute;
    top: 0;
}

/* ---------------------------------------------------------------------------------------------------- */

/* Main Content */
main {
    background-image: url("./images/background.png");
    height: 100vh;
    padding: 0 15px;
}

.back-to-home {
    color: #EF731B;
    display: flex;
    justify-content: end;
    align-items: center;
}

.back-to-home a {
    color: #EF731B;
    text-decoration: none;
    
}

/* Main Login Content */
.outer-login-box {
    margin: 2px;
    background-color: #07294D;
    width: 50%;
    /* height: 500px; */
    display: flex;
    justify-content: center;
    justify-self: center;
    border-radius: 10px;
    padding: 20px 15px;
}

.login-box {
    background-color: #07294D;
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    justify-self: center;
    border-radius: 10px;
    padding: 8px;
}

.login-type {
    width: 100%;
    min-height: 38px;
    display: flex;
    justify-content: space-between;
    background-color: #CCCCCC;
    border-radius: 5px;
    padding: 4px;
    flex-wrap: wrap;
    gap: 1rem;
}

.login-type-element {
    display: flex;
    border-left: 1px solid black;
    padding: 2px;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: #D3D3D3;
    /* white-space: nowrap; */
}

.login-type-element:hover {
    color: #0A58CA;
}

.login-type-student:hover {
    color: white;
}

.login-type-admin {
    flex: 0.85;
    border-left: none;
}

.login-type-university {
    flex: 0.85;
}

.login-type-college {
    flex: 1.2;
}

.login-type-student {
    flex: 0.8;
    background-color: #EF731B;
    color: white;
    border-radius: 5px;
}

.login-type-ksou {
    flex: 1;   
}

/* User Name & Password */

.login-data {
    padding: 0 15px;
}

.log-data-names {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}

.login-data-username p {
    margin-top: 16px;
}

/* Inputs */
.inputs {
    height: 40px;
    width: 100%;
    padding: 6px 12px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    caret-color: white;
    border-radius: 3px;
    color: white;
}

.inputs::placeholder {
    font-size: 16px;
}

.hide-or-show {
    height: 40px;
    width: 40px;
    background-color: #E9ECEF;
    display: flex;
    font-size: 15px;
    color: #495057;
    justify-content: center;
    align-items: center;
    justify-self: end;
    right: 0;
    bottom: 0;
}

.hide-or-show{
    display: none;
}

/* Forgot Password */

.forgot-password-items {
    display: flex;
    justify-content: end;
}

.forgot-items{
    color: white;
    font-size: 11.2px;
    margin: 3px;
    display: inline;
    margin-top: 10px;
}

.forgot-pass-link {
    color: #EF731B;
    text-decoration: none;
}

/* Captcha */
.captcha-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.label {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}

.captcha-image {
    height: 40px;
    width: 200px;
    display: flex;
}

.captcha-image img {
    height: 100%;
    width: 100%;
}

.refresh-captcha {
    height: 40px;
    width: 40px;
    background-color: #0A429B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-rotate-right {
    color: white;
    font-size: 20px;
}

.captcha-enter {
    width: 210px;
}

/* login and regestration */

/* Login Button */
/* .login-regester {
    display: flex;
    justify-content: center;
    align-items: center;
    TODO:
} */

.login-icon {
    color: white;
    background-color: #007BFF;
    height: 38px;
    width: 32%;
    margin: 8px 0px 0px;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    justify-self: center;
    align-self: center;
}

.login-regester a {
    text-decoration: none;
}

.login-icon:hover {
    background-color: #0069D9;
}

.login-icon:focus {
    border: 5px solid #1C56A5;
    background-color: yellow;
    /* FIXME: */
}

/* .uucms-regester {
    
} */

.reg-dow-links {
    display: flex;
    justify-self: center;
    align-self: center;
    color: #EF731B;
    text-decoration: none;
}

.new-candidate-regestration {
    margin: 24px 0px 0px;
}

.download-student-manual {
    margin: 16px 0px 0px;
}

/* --------------------------------------------------------------------------- */

/* Footer */
footer {
    color: white;
    margin: 10px 0 0;
}

.disclimer-section {
    padding-top: 2px;
}

.titles {
    display: inline;
    color: #EF731B;
    font-size: 16px;
    font-weight: 500;
}

.footer-block {
    background-color: #07294D;
    padding: 0 32px;
}

.title-describe {
    font-size: 12px;
    margin: 4px 0px 16px;
    text-align:center;
    line-height: 24px;
}

.legal-policy a {
    color: white;
    text-decoration: none;
}

/* Last footer */
.last-footer {
    height: 40px;
}

.copyright {
    color: black;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}